version: '3.8'

services:
  mailserver:
    image: ghcr.io/docker-mailserver/docker-mailserver:latest
    container_name: mailserver
    hostname: mail.gerard.test
    domainname: gerard.test
    ports:
      - "25:25"    # SMTP
      - "587:587"  # SMTP Submission
      - "465:465"  # SMTP Secure
      - "143:143"  # IMAP
      - "993:993"  # IMAP Secure
    volumes:
      - ./docker-data/dms/mail-data/:/var/mail/
      - ./docker-data/dms/mail-state/:/var/mail-state/
      - ./docker-data/dms/mail-logs/:/var/log/mail/
      - ./docker-data/dms/config/:/tmp/docker-mailserver/
      - /etc/localtime:/etc/localtime:ro
    environment:
      - ENABLE_SPAMASSASSIN=0
      - ENABLE_CLAMAV=0
      - ENABLE_FAIL2BAN=0
      - ENABLE_POSTGREY=0
      - ONE_DIR=1
      - DMS_DEBUG=0
      - PERMIT_DOCKER=network
      - SSL_TYPE=self-signed
      - OVERRIDE_HOSTNAME=mail.gerard.test
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    stop_grace_period: 1m
    healthcheck:
      test: "ss -lntp | grep -E ':25|:587|:993'"
      timeout: 3s
      retries: 0
